h1 {
    color:#141740;
    position: absolute;
    left: 100px;
    top: 120px;
    font-size: 500%;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Arial";
}

.homepageh2{
    color:#ffcc00;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    position: absolute;
    left: 100px;
    top: 200px;
    font-size: 300%;
    letter-spacing: 4px;
}

.homepagep{
    position: absolute;
    left: 100px;
    top: 300px;
    font-size: 100%;
    font-family: 'Times New Roman', serif;
    color: grey;
}

.btn-default {
    position: absolute;
    left: 100px;
    top: 550px;
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: #ffffff;
    background-color: #D7BFED;
    letter-spacing: 2px;
    line-height: 15px;
    border: 2px solid #D7BFED;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
  }
  
  .navbar{
      background-color: transparent;
      border-width: 0;
      padding-top: 30px;
      padding-right: 100px;
      padding-left: 100px;
     
  }
.navbar .navbar-brand{
      color: black;
      font-weight:  bolder;
     
  }
.navbar .navbar-brand:hover{
    color: black;
}

.navbar .navbar-nav{
    margin: 0 auto;
}



.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #63605f ;
    background-color:#fff;
    font-family: 'Times New Roman', serif;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
    
}


  .btn-custom{
    font-family: 'Times New Roman', serif;
    font-size: 13px;
    color: #63605f;
    background-color: #D7BFED;
    letter-spacing: 2px;
    line-height: 15px;
    border: 2px solid #D7BFED;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
  }

  
 form { margin: 0px 10px;
}

 .formh2{  
    margin-top: 2px;
    margin-bottom: 2px;}
 
 .container { max-width: 360px;
  
 }
 
 .divider {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 5px;
 }
 
 .divider hr {
   margin: 7px 0px;
   width: 35%;
 }
 
 .left { float: left; }
 
 .right { float: right; }

 .row_to_move{
   width: 110%;
   padding: 100px 20px;
 }

